<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Meetanshi\AiProductStudio\Model\ResourceModel\Log\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">meetanshi_ai_product_studio_log</argument>
            <argument name="resourceModel" xsi:type="string">Meetanshi\AiProductStudio\Model\ResourceModel\Log</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ai_product_studio_log_listing_data_source" xsi:type="string">Meetanshi\AiProductStudio\Model\ResourceModel\Log\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
